set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l '@ISOLABEL@'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install @PRODUCT@ @VERSION@' --class openEuler --class gnu-linux --class gnu --class os {
	linuxefi @KERNELPATH@ @ROOT@ fpi_to_tail=off
	initrdefi @INITRDPATH@
}
menuentry 'Test this media & install @PRODUCT@ @VERSION@' --class openEuler --class gnu-linux --class gnu --class os {
	linuxefi @KERNELPATH@ @ROOT@ rd.live.check fpi_to_tail=off
	initrdefi @INITRDPATH@
}
submenu 'Troubleshooting -->' {
	menuentry 'Install @PRODUCT@ @VERSION@ in basic graphics mode' --class openEuler --class gnu-linux --class gnu --class os {
		linuxefi @KERNELPATH@ @ROOT@ nomodeset fpi_to_tail=off
		initrdefi @INITRDPATH@
	}
	menuentry 'Rescue a @PRODUCT@ system' --class openEuler --class gnu-linux --class gnu --class os {
		linuxefi @KERNELPATH@ @ROOT@ rescue fpi_to_tail=off
		initrdefi @INITRDPATH@
	}
}
